/* Global Imports */
/* Color Variables */
/* Font Variables */
/* Border Radius */
/* Nav Links */
/* Breakpoints */
/* Center Text */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800");
.nav__item {
  text-align: center; }

/* Centered Image */
.img--frame, .img--avatar {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Image Margins */
.img--logo {
  margin-top: .5em;
  margin-bottom: 2em; }

.btn--default, .btn--success.theme__colors, .btn--error.theme__colors, .btn--warning.theme__colors, .btn--info.theme__colors {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  border: none;
  padding: .75em;
  border-radius: 5px;
  width: 200px;
  margin: 0 auto;
  outline: none; }

/* Top Border */
/* Containers */
/* Columns */
/* Float Clearfix */
.img--frame:after {
  content: "";
  display: table;
  clear: both; }

/* Text */
* {
  box-sizing: border-box; }

/* Blockquote */
.blockquote {
  border-left: 6px solid #5BE0C0;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 25px;
  border-radius: 5px;
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 2em;
  margin-top: 2em; }

/* Lists */
ul {
  margin-left: 0;
  padding-left: 0px; }

ul li {
  margin-left: 0; }

/* Google Fonts */
/* Font Styles */
.container {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 300;
  color: #808080;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.0125em; }

.headline--primary {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.0125em;
  font-weight: 800;
  color: #5BE0C0;
  line-height: 1.1; }

.headline--secondary {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #808080; }

.link {
  color: #48defe;
  text-decoration: none; }

.btn--default {
  background-color: #55DEFD; }

.btn--success.theme__colors {
  background-color: #3CB371; }

.btn--error.theme__colors {
  background-color: #EB8E94; }

.btn--warning.theme__colors {
  background-color: #F27D62; }

.btn--info.theme__colors {
  background-color: #8C7EB4; }

.btn--default.theme__colors {
  margin-bottom: 20px;
  width: 100%; }

.btn--success.theme__colors {
  margin-bottom: 20px;
  width: 100%; }

.btn--error.theme__colors {
  margin-bottom: 20px;
  width: 100%; }

.btn--warning.theme__colors {
  margin-bottom: 20px;
  width: 100%; }

.btn--info.theme__colors {
  margin-bottom: 20px;
  width: 100%; }

.form {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  outline: none;
  border: none; }

.form__label--hidden {
  display: none; }

.form__input {
  border-bottom: 5px solid #5BE0C0;
  border-radius: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 35px;
  padding: 15px; }

.img--logo {
  display: block;
  margin: 0 auto; }

.img--frame {
  border: 1px solid #c0c0c0;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  max-width: 100%; }

.img--avatar {
  padding: 10px; }

.nav__item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px; }

.nav__item a {
  color: #797e83;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 0.2em;
  text-decoration: none; }

.nav__item a:hover {
  background-color: #4fe3c2;
  color: #fff; }

.container {
  padding: 2em; }

.grid__row {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%; }

.grid__col--3.theme__colors {
  border: none;
  border-radius: 5px;
  background-color: #d09cd9;
  padding: 10px;
  margin: 5px;
  color: #333; }

.grid__col--4.theme__colors {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 100%;
  border: none;
  border-radius: 5px;
  background-color: #8EEDFC;
  padding: 10px;
  margin: 5px;
  color: #333; }

.grid__col--5.theme__colors {
  border: none;
  border-radius: 5px;
  background-color: #82DC9E;
  padding: 10px;
  margin: 5px;
  color: #333; }

.grid__col--6.theme__colors {
  border: none;
  border-radius: 5px;
  background-color: #4DA2BB;
  padding: 10px;
  margin: 5px;
  color: #333; }

.grid__col--7.theme__colors {
  border: none;
  border-radius: 5px;
  background-color: #E6A3A1;
  padding: 10px;
  margin: 5px;
  color: #333; }

.grid__col--8.theme__colors {
  border: none;
  border-radius: 5px;
  background-color: #FD9D85;
  padding: 10px;
  margin: 5px;
  color: #333; }

.grid__col--9 {
  display: block;
  width: 100%; }

.grid__col--12.theme__colors {
  border: none;
  border-radius: 5px;
  background-color: #82E8CE;
  padding: 10px;
  margin: 5px;
  color: #333; }

.grid__col--12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%; }

/* Media Queries*/
@media only screen and (min-width: 768px) {
  .grid__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto; }

  .grid__col--3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    flex-basis: 100%; }

  .grid__col--4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center; }

  .grid__col--5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-basis: 100%; }

  .grid__col--6 {
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-basis: 100%;
    justify-content: center; }

  .grid__col--7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-basis: 100%; }

  .grid__col--8 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-self: flex-start;
    padding-right: 90px; }

  .grid__col--9 {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-around; }

  .grid__col--12 {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .btn--default.theme__colors {
    margin-right: 20px; }

  .btn--success.theme__colors {
    margin-right: 20px; }

  .btn--error.theme__colors {
    margin-bottom: 20px; }

  .btn--warning.theme__colors {
    margin-bottom: 20px; }

  .btn--info.theme__colors {
    margin-bottom: 20px; }

  .nav {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center; }

  .nav__item {
    padding: 10px; }

  .img--avatar {
    margin-right: 50px; }

  .img--logo {
    float: left; } }
@media only screen and (min-width: 1024px) {
  .container {
    margin: 40px; }

  .grid__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto; }

  .grid__col--3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    flex-basis: 100%; }

  .grid__col--4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center; }

  .grid__col--5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-basis: 100%; }

  .grid__col--6 {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-basis: 100%;
    justify-content: center; }

  .grid__col--7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-basis: 100%; }

  .grid__col--8 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-self: center;
    padding-right: 90px; }

  .grid__col--9 {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-around; }

  .grid__col--12 {
    display: flex;
    flex-direction: row; }

  .nav {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-around; }

  .nav__item {
    padding: 20px; }

  .img--logo {
    float: left; }

  .img--avatar {
    margin-right: 100px; }

  .btn--default.theme__colors {
    margin-right: 20px; }

  .btn--success.theme__colors {
    margin-right: 20px; }

  .btn--error.theme__colors {
    margin-right: 20px; }

  .btn--warning.theme__colors {
    margin-right: 20px; } }

/*# sourceMappingURL=application.css.map */
