/* Text */

@mixin text($size, $l-height: null, $weight: null, $color: null) {
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}

@mixin navlinks ($link, $visit, $hover, $active) {
  a {
    color: $link;
    text-align: center;
    width: 100%;
    display: block;
    padding: 5px;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
      width: 100%;
      display: block;
      background: $secondary-color;
      padding: 10px;
      border-radius: $br5;
    }
    &:active {
      color: $active;
      width: 100%;
      display: block;
    }
  }
}

@mixin bodylinks ($link, $visit, $hover, $active) {
  a {
    &:link {
      color: $primary-color;
      text-decoration: none;
      font-weight: 600;
    }
    &:visited {
      color: $dark-grey;
    }
    &:hover {
      color: $secondary-color;
    }
  }
}

@mixin flexbox($direction, $justify: null, $alignment: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignment;
}
