.btn--default {
  background-color: $primary-color;
  @extend %button;
}
.btn--success.theme__colors {
  background-color: $success;
  @extend %button;

}
.btn--error.theme__colors {
  background-color: $error;
  @extend %button;

}
.btn--warning.theme__colors {
  background-color: $warning;
  @extend %button;

}
.btn--info.theme__colors {
  background-color: $info;
  @extend %button;

}
.btn--default.theme__colors {
  margin-bottom: 20px;
  width: 100%;
}
.btn--success.theme__colors {
  margin-bottom: 20px;
  width: 100%;
}
.btn--error.theme__colors {
  margin-bottom: 20px;
  width: 100%;
}
.btn--warning.theme__colors {
  margin-bottom: 20px;
  width: 100%;
}
.btn--info.theme__colors {
  margin-bottom: 20px;
  width: 100%;
}
