.form {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  outline: none;
  border: none;
}
.form__label--hidden {
  display: none;
}
.form__input {
  border-bottom: 5px solid $secondary-color;
  border-radius: $br5;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 35px;
  padding: 15px;
}
