/* Form Styling */

.form {
  display: block;
  margin: 0 auto;
  outline: none;
  border: $bnone;
  width: 400px;
}
.form__label--hidden {
  display: none;
}
.form__input {
  border-bottom: 5px solid $secondary-color;
  border-radius: $br5;
  border-top: $bnone;
  border-right: $bnone;
  border-left: $bnone;
  margin-bottom: 35px;
  padding: 15px;
  outline: none;
  width: 100%;
}
