.container {
  padding: 2em;
}
.grid__row {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
}
.grid__col--3.theme__colors {
  border: none;
  border-radius: $br5;
  background-color: #d09cd9;
  padding: 10px;
  margin: 5px;
  color: $dark-grey;
}
.grid__col--4.theme__colors {
  @include flexbox($direction: row, $justify: flex-start, $alignment: center);
  flex-basis: 100%;
  border: none;
  border-radius: $br5;
  background-color: #8EEDFC;
  padding: 10px;
  margin: 5px;
  color: $dark-grey;
}
.grid__col--5.theme__colors {
  border: none;
  border-radius: $br5;
  background-color: #82DC9E;
  padding: 10px;
  margin: 5px;
  color: $dark-grey;
}
.grid__col--6.theme__colors {
  border: none;
  border-radius: $br5;
  background-color: #4DA2BB;
  padding: 10px;
  margin: 5px;
  color: $dark-grey;
}
.grid__col--7.theme__colors {
  border: none;
  border-radius: $br5;
  background-color: #E6A3A1;
  padding: 10px;
  margin: 5px;
  color: $dark-grey;
}
.grid__col--8.theme__colors {
  border: none;
  border-radius: $br5;
  background-color: #FD9D85;
  padding: 10px;
  margin: 5px;
  color: $dark-grey;
}
.grid__col--9 {
  display: block;
  width: 100%;
}
.grid__col--12.theme__colors {
  border: none;
  border-radius: $br5;
  background-color: #82E8CE;
  padding: 10px;
  margin: 5px;
  color: $dark-grey;
}
.grid__col--12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
}

/* Media Queries*/
@media only screen and (min-width: $breakpoint-md) {
  .grid__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .grid__col--3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    flex-basis: 100%;
  }
  .grid__col--4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .grid__col--5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-basis: 100%;
  }
  .grid__col--6 {
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-basis: 100%;
    justify-content: center;
  }
  .grid__col--7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-basis: 100%;
  }
  .grid__col--8 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-self: flex-start;
    padding-right: 90px;
  }
  .grid__col--9 {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .grid__col--12 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn--default.theme__colors {
    margin-right: 20px;
  }
  .btn--success.theme__colors {
    margin-right: 20px;
  }
  .btn--error.theme__colors {
    margin-bottom: 20px;
  }
  .btn--warning.theme__colors {
    margin-bottom: 20px;
  }
  .btn--info.theme__colors {
    margin-bottom: 20px;
  }
  .nav {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
  }
  .nav__item {
    padding: 10px;
  }
  .img--avatar {
    margin-right: 50px;
  }
  .img--logo {
    float: left;
  }
}
@media only screen and (min-width: $breakpoint-lg) {
  .container {
    margin: 40px;
  }
  .grid__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .grid__col--3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    flex-basis: 100%;
  }
  .grid__col--4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .grid__col--5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-basis: 100%;
  }
  .grid__col--6 {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-basis: 100%;
    justify-content: center;
  }
  .grid__col--7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-basis: 100%;
  }
  .grid__col--8 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-self: center;
    padding-right: 90px;
  }
  .grid__col--9 {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .grid__col--12 {
    display: flex;
    flex-direction: row;
  }
  .nav {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-around;
  }
  .nav__item {
    padding: 20px;
  }
  .img--logo {
    float: left;
  }
  .img--avatar {
    margin-right: 100px;
  }
  .btn--default.theme__colors {
    margin-right: 20px;
  }
  .btn--success.theme__colors {
    margin-right: 20px;
  }
  .btn--error.theme__colors {
    margin-right: 20px;
  }
  .btn--warning.theme__colors {
    margin-right: 20px;
  }

}
