.img--logo {
  @extend %logo-img;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
.img--frame {
  border: 1px solid #c0c0c0;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  @extend %center-img;
  max-width: 100%;
  @extend %clearfix;
}
.img--avatar {
  @extend %center-img;
  padding: 10px;
}
