.nav__item {
  @include navlinks($link: $text-color, $visit: $text-color, $hover: $white, $active: $text-color);
  @extend %centered;
  list-style-type: none;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  text-decoration: none;
}
